<!DOCTYPE html>
<html>
  <head>
    <title>Instagram Clone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/c2fbed3a27.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar_content' %>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <% unless flash.empty? %>
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
          <%end%>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
